<aside class="sidebar">
    <div class="box"></div>
    <a href="/" class="nav_button">
        <img src="icons/fi_home.png" alt="Home" title="Home">
        <span>Dashboard</span>
    </a>
    <a href="/cars" class="nav_button">
        <img src="icons/fi_truck.png" alt="Cars" title="Cars">
        <span>Cars</span>
    </a>
</aside>