<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
    <body>
        <%- include("./partials/header") %>
        <main class="main">
            <nav class="cars-page-nav">
                <h2>Dashboard</h2>
            </nav>
            <h1>Welcome to Car Management Dashboard</h1>
        </main>
    </body>
    <%- include("./partials/sidebar") %>
    <script src="scripts/cars.js"></script>
    <script src="scripts/search.js"></script>
</html>