<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
    <body>
        <%- include("./partials/header") %>
        <main>
            <h1>Welcome to Car Management Dashboard</h1>
        </main>
    </body>
    <%- include("./partials/sidebar") %>
</html>