<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Car Management Dashboard</title>
        <link rel="stylesheet" href="../../styles/style.css">
    </head>
    <body>
        <header class="header">
            <div class="left-side">
                <div class="logo"></div>
                <div class="menu toggle-nav">
                    <img src="../../icons/fi_menu.png" alt="Menu" title="Menu">
                </div>
            </div>
            <div class="right-side">
                <div class="search">
                    <div class="input-container">
                        <img src="../../icons/fi_search.png" alt="Search" title="Search">
                        <input type="text" name="search" id="search" placeholder="Search" class="search-input">
                    </div>
                    <button type="button" class="search-btn">
                        Search
                    </button>
                </div>
                <div class="account">
                    <span class="avatar">U</span>
                    <span>Unis Badri</span>
                    <img src="../../icons/fi_chevron-down.png" alt="Show" title="Show">
                </div>
            </div>
        </header>
        <main class="main">
            <nav class="cars-page-nav">
                <h2>CARS</h2>
                <ul>
                    <li>List Car</li>
                </ul>
            </nav>
            <div class="car-toolbar">
                <div>
                    <div class="nav-info">
                        <span>Cars</span>
                        <img src="../../icons/fi_chevron-right.png">
                        <span>List Car</span>
                        <img src="../../icons/fi_chevron-right.png">
                        <span class="active">Update Car Information</span>
                    </div>
                    <h2>Update Car Information</h2>
                </div>
            </div>
            <div class="car-form">
                <form action="/edit/<%= carDetail.id %>" method="POST" enctype="multipart/form-data">
                    <div>
                        <div class="input-field">
                            <label for="model">Nama*</label>
                            <div>
                                <input type="text" id="model" name="model" placeholder="Avanza" value="<%= carDetail.model %>" required>
                            </div>
                        </div>
                        <div class="input-field">
                            <label for="rentPerDay">Sewa Per Hari*</label>
                            <div>
                                <input type="number" id="rentPerDay" name="rentPerDay" placeholder="Rp 0.-" value="<%= carDetail.rentPerDay %>" required>
                            </div>
                        </div>
                        <div class="input-field">
                            <label for="type">Tipe*</label>
                            <div>
                                <input type="text" id="type" name="type" placeholder="Klasik" value="<%= carDetail.type %>" required>
                            </div>
                        </div>
                        <div class="input-field">
                            <label for="size">Ukuran*</label>
                            <div>
                                <select name="size" id="size" required>
                                    <% if (carDetail.size === 'Small') { %>
                                        <option value="Small" selected>Small</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Large">Large</option>
                                    <% } else if(carDetail.size === 'Medium') { %>
                                        <option value="Small">Small</option>
                                        <option value="Medium" selected>Medium</option>
                                        <option value="Large">Large</option>
                                    <% } else { %>
                                        <option value="Small">Small</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Large" selected>Large</option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="input-field">
                            <label for="image">Gambar*</label>
                            <div>
                                <input type="file" id="image" name="image">
                            </div>
                            <span>File size max. 2MB</span>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="/cars" class="cancel-btn btn">Cancel</a>
                        <button type="submit" class="save-btn btn">Save</button>
                    </div>
                </form>
            </div>
        </main>
        <aside class="sidebar">
            <div class="box"></div>
            <a href="/" class="nav_button">
                <img src="../../icons/fi_home.png" alt="Home" title="Home">
                <span>Dashboard</span>
            </a>
            <a href="/cars" class="nav_button">
                <img src="../../icons/fi_truck.png" alt="Cars" title="Cars">
                <span>Cars</span>
            </a>
        </aside>
        <script src="../../scripts/cars.js"></script>
        <script src="../../scripts/search.js"></script>
    </body>
</html>